In [17]:
import numpy as np
import pandas as pd
import datetime
import xml.etree.ElementTree as ET
from sqlalchemy import create_engine
import psycopg2

In [18]:
df_excel = pd.read_excel('data.xlsx')
df_excel['id'] = np.arange(0, len(df_excel))
df_excel[['last_name', 'first_name']] = df_excel['Nachname, Vorname'].str.split(', ', expand=True)
df_excel.drop(columns=['Nachname, Vorname'], inplace=True)
df_excel.rename(columns={'Telefon': 'phone_number'}, inplace=True)
df_excel.rename(columns={'E-Mail': 'email'}, inplace=True)
df_excel[['street', 'zip', 'city']] = df_excel['Straße Nr, PLZ Ort'].str.split(', ', n=2, expand=True)
df_excel.drop(columns=['Straße Nr, PLZ Ort'], inplace=True)
df_excel['photo'] = None
df_excel.rename(columns={'Geschlecht (m/w/nonbinary)': 'gender'}, inplace=True)
df_excel.rename(columns={'Interessiert an': 'interested_in'}, inplace=True)
df_excel.rename(columns={'Geburtsdatum': 'age'}, inplace=True)
df_excel['age'] = pd.to_datetime(df_excel['age'], format='%d.%m.%Y', errors='coerce')
today = pd.Timestamp(datetime.date.today())
df_excel['age'] = (today.year - df_excel['age'].dt.year) - (
        (today.month < df_excel['age'].dt.month) |
        ((today.month == df_excel['age'].dt.month) & (today.day < df_excel['age'].dt.day))
)
df_excel['acc_creation_date'] = None
df_excel['acc_last_update'] = None
df_excel['phone_number'] = df_excel['phone_number'].str.replace(r'\D', '', regex=True)
df_excel[['hobby1', 'hobby2', 'hobby3', 'hobby4', 'hobby5']] = df_excel['Hobby1 %Prio1%; Hobby2 %Prio2%; Hobby3 %Prio3%; Hobby4 %Prio4%; Hobby5 %Prio5%;'].str.split('; ', n=4, expand=True)
df_excel.drop(columns=['Hobby1 %Prio1%; Hobby2 %Prio2%; Hobby3 %Prio3%; Hobby4 %Prio4%; Hobby5 %Prio5%;'], inplace=True)
hobby_cols = ['hobby1', 'hobby2', 'hobby3', 'hobby4', 'hobby5']
df_excel.loc[:, hobby_cols] = df_excel[hobby_cols].replace([''], None)
df_excel.head()

,phone_number,email,gender,interested_in,age,id,last_name,first_name,street,zip,city,photo,acc_creation_date,acc_last_update,hobby1,hobby2,hobby3,hobby4,hobby5
0,023728020,martin.forster@web.ork,m,w,66,0,Forster,Martin,Minslebener Str. 0,46286,Dorsten,None,None,None,Fremdsprachenkenntnisse erweitern %78%,Im Wasser waten %80%,Schwierige Probleme klären %61%,Morgens Früh aufstehen %17%,None
1,0622198689,tsanaklidou.elina@1mal1.te,w,m,67,1,Elina,Tsanaklidou,Gartenweg 13,69126,Heidelberg,None,None,None,Jemanden massieren %57%,Mir die Probleme von anderen anhören %21%,Abends seinem Partner Ereignisse des Tages erz...,Für einen guten Zweck spenden %25%,None
2,0383422951,şahin.vildan@gmaiil.ork,w,m,29,2,Vildan,şahin,Heinrich-Heine-Straße 99c,17489,Greifswald,None,None,None,In der Stadt herumbummeln %94%,Mit Freunden zusammen sein %20%,Tagebuch schreiben %12%,Ausschlafen %72%,None
3,0162249788,ellen.bäumker@web.ork,w,m,32,3,Bäumker,Ellen,Weidenring 39,81539,München,None,None,None,An einer Gruppenreise teilnehmen %97%,Seine finanziellen Angelegenheiten regeln %91%,Etwas entwerfen oder zeichnen %93%,None,None
4,0763167955,bekiroğlu.bahadır@autluuk.te,m,w,42,4,Bahadır,Bekiroğlu,Eichendorffstraße 20,79379,Müllheim Baden,None,None,None,Ins Grüne fahren %23%,Holz hacken %67%,Fotos oder Dias anschauen %84%,"Lebensmittel einmachen, einfrieren, Vorräte an...",None

In [19]:
tree = ET.parse('data.xml')
root = tree.getroot()
data = []
for user in root.findall('user'):
    email = user.find('email').text
    name = user.find('name').text
    hobbies = [h.text for h in user.find('hobbies').findall('hobby')]
    data.append({'email': email, 'name': name, 'hobbies': hobbies})
df_xml = pd.DataFrame(data)
df_xml.drop(columns=['name'], inplace=True)
df_xml.head()

                           email                                  hobbies
0      heinz.heinrichs@gmaiil.te              [Schreiben, Musik, Bowling]
1  theodor.wellenbrock@gmaiil.te      [Basteln, Nähen, Schwimmen, Backen]
2      abdulk..stuckmann@web.kom                                 [Angeln]
3    harald.hackethal@autluuk.te                                   [Yoga]
4  heinz.fleddermann@autluuk.ork  [Basteln, Nähen, Reisen, Lesen, Singen]

In [20]:
df_mongo = pd.read_json('collection.json')
df_mongo.drop(columns=['friends', 'name', 'phone'], inplace=True)
df_mongo.rename(columns={'_id': 'email'}, inplace=True)
df_mongo.rename(columns={'createdAt': 'acc_creation_date'}, inplace=True)
df_mongo.rename(columns={'updatedAt': 'acc_last_update'}, inplace=True)
df_mongo.head()

,email,likes,messages,acc_creation_date,acc_last_update
0,martin.forster@web.ork,[],[],2023-12-21T00:00:00,2024-09-02T00:00:00
1,tsanaklidou.elina@1mal1.te,[],[],2024-10-17T00:00:00,2025-08-29T00:00:00
2,şahin.vildan@gmaiil.ork,[],[],2023-06-04T00:00:00,2024-04-09T00:00:00
3,ellen.bäumker@web.ork,[{'liked_email': 'gerlind.feuerhahn@1mal1.kom'...,[],2024-01-21T00:00:00,2024-11-23T00:00:00
4,bekiroğlu.bahadır@autluuk.te,[],[],2024-03-01T00:00:00,2024-08-25T00:00:00

Now that we have our dataframes ready we can create a mockup of our PostgreSQL database and fill it with the data we have.

In [21]:
user_columns = [
    'id', 'first_name', 'last_name', 'phone_number', 'street', 'zip', 'city',
    'photo', 'age', 'acc_creation_date', 'acc_last_update', 'gender',
    'interested_in', 'email'
]
df_user = pd.DataFrame(columns=user_columns)

friendship_columns = ['user_id', 'friend_user_id']
df_friendship = pd.DataFrame(columns=friendship_columns)

message_columns = ['id', 'conversation_id', 'sender_user_id', 'receiver_user_id', 'message_body', 'message_date']
df_message = pd.DataFrame(columns=message_columns)

profile_like_columns = ['id', 'user_id', 'liked_user_id', 'like_date', 'status']
df_profile_like = pd.DataFrame(columns=profile_like_columns)

additional_recources_columns = ['id', 'user_id', 'content', 'path_external', 'upload_date']
df_additional_recources = pd.DataFrame(columns=additional_recources_columns)

user_hobby_columns = ['user_id', 'hobby_id', 'prio']
df_user_hobby = pd.DataFrame(columns=user_hobby_columns)

hobby_colums = ['id', 'name']
df_hobby = pd.DataFrame(columns=hobby_colums)

In [22]:
# starting with user table
cols_to_copy_excel = [
    'id', 'first_name', 'last_name', 'phone_number', 'street', 'zip', 'city',
    'photo', 'age','email', 'gender', 'interested_in']
df_user[cols_to_copy_excel] = df_excel[cols_to_copy_excel]
df_user = pd.merge(
    df_user.drop(columns=['acc_creation_date', 'acc_last_update'], errors='ignore'),
    df_mongo[['email', 'acc_creation_date', 'acc_last_update']],
    on='email',
    how='left'
)
df_user.head()

,id,first_name,last_name,phone_number,street,zip,city,photo,age,gender,interested_in,email,acc_creation_date,acc_last_update
0,0,Martin,Forster,023728020,Minslebener Str. 0,46286,Dorsten,None,66,m,w,martin.forster@web.ork,2023-12-21T00:00:00,2024-09-02T00:00:00
1,1,Tsanaklidou,Elina,0622198689,Gartenweg 13,69126,Heidelberg,None,67,w,m,tsanaklidou.elina@1mal1.te,2024-10-17T00:00:00,2025-08-29T00:00:00
2,2,şahin,Vildan,0383422951,Heinrich-Heine-Straße 99c,17489,Greifswald,None,29,w,m,şahin.vildan@gmaiil.ork,2023-06-04T00:00:00,2024-04-09T00:00:00
3,3,Ellen,Bäumker,0162249788,Weidenring 39,81539,München,None,32,w,m,ellen.bäumker@web.ork,2024-01-21T00:00:00,2024-11-23T00:00:00
4,4,Bekiroğlu,Bahadır,0763167955,Eichendorffstraße 20,79379,Müllheim Baden,None,42,m,w,bekiroğlu.bahadır@autluuk.te,2024-03-01T00:00:00,2024-08-25T00:00:00

The others are a bit more tricky. We will start with messages.

In [23]:
messages_temp = df_mongo.copy()

messages_temp.drop(columns= ['likes','acc_creation_date','acc_last_update'], inplace=True, errors='ignore')
messages_temp = messages_temp[messages_temp['messages'].apply(lambda x: x != [] and x is not None)].reset_index(drop=True)
messages_flat = messages_temp[['email', 'messages']].explode('messages').reset_index(drop=True)

if isinstance(messages_flat['messages'].iloc[0], dict):
    messages_flat = pd.concat(
        [messages_flat.drop(columns=['messages']),
         messages_flat['messages'].apply(pd.Series)],
        axis=1
    )
messages_flat.rename(columns={'email': 'sender_email'}, inplace=True)

# Turn emails insto IDs
messages_flat = messages_flat.merge(
    df_user[['id', 'email']],
    left_on='sender_email',
    right_on='email',
    how='left'
).rename(columns={'id': 'sender_user_id'})

messages_flat = messages_flat.merge(
    df_user[['id', 'email']],
    left_on='receiver_email',
    right_on='email',
    how='left'
).rename(columns={'id': 'receiver_user_id'})

messages_flat.drop(columns=['sender_email', 'receiver_email', 'email_x', 'email_y'], inplace=True)
messages_flat['id'] = np.arange(0, len(messages_flat))
messages_flat.rename(columns={'message': 'message_body'}, inplace=True)
messages_flat.rename(columns={'timestamp': 'message_date'}, inplace=True)

df_message = messages_flat

df_message.head()

,conversation_id,message_body,message_date,sender_user_id,receiver_user_id,id
0,47,Wollen wir das Projekt gemeinsam angehen?,2024-08-10 07:40:31,5,1070,0
1,34,"Was hältst du davon, wenn wir uns bald wieders...",2024-12-05 07:40:31,12,1358,1
2,38,Können wir uns nächste Woche treffen?,2023-12-25 07:40:31,15,236,2
3,32,Hast du am Wochenende Zeit?,2024-04-26 07:40:31,22,1181,3
4,48,Wollen wir das Projekt gemeinsam angehen?,2024-06-06 07:40:31,26,104,4

In [24]:
likes_temp = df_mongo.copy()

likes_temp.drop(columns= ['messages','acc_creation_date','acc_last_update'], inplace=True, errors='ignore')
likes_temp = likes_temp[likes_temp['likes'].apply(lambda x: x != [] and x is not None)].reset_index(drop=True)
likes_flat = likes_temp[['email', 'likes']].explode('likes').reset_index(drop=True)
likes_flat.rename(columns={'email': 'temp_email'}, inplace=True)

if isinstance(likes_flat['likes'].iloc[0], dict):
    likes_flat = pd.concat(
        [likes_flat.drop(columns=['likes']),
         likes_flat['likes'].apply(pd.Series)],
        axis=1
    )

# Turn emails insto IDs
likes_flat = likes_flat.merge(
    df_user[['id', 'email']],
    left_on='temp_email',
    right_on='email',
    how='left'
).rename(columns={'id': 'user_id'})

likes_flat = likes_flat.merge(
    df_user[['id', 'email']],
    left_on='liked_email',
    right_on='email',
    how='left'
).rename(columns={'id': 'liked_user_id'})

likes_flat.drop(columns=['temp_email', 'liked_email', 'email_x', 'email_y'], inplace=True)
likes_flat['id'] = np.arange(0, len(likes_flat))
likes_flat.rename(columns={'timestamp': 'like_date'}, inplace=True)

df_profile_like = likes_flat

df_profile_like.head()

    status            like_date  user_id  liked_user_id  id
0   mutual  2024-04-17 07:39:29        3            702   0
1   mutual  2023-12-25 07:39:29        5           1381   1
2  pending  2024-09-09 07:39:29        5            871   2
3   mutual  2024-01-12 07:39:29        9           1510   3
4   mutual  2023-12-21 07:39:29       24            183   4

For Hobby we need to break it down a bit - we'll assume that free space hobbies are a thing of the past and thus are going to take the given ones as sepereate entries.

In [25]:
hobby_one = df_excel.copy()

hobby_one_cols = ['id', 'hobby1', 'hobby2', 'hobby3', 'hobby4', 'hobby5']
hobby_one = hobby_one[hobby_one_cols]
hobby_one.rename(columns={'id': 'user_id'}, inplace=True)
hobby_cols = ['hobby1', 'hobby2', 'hobby3', 'hobby4', 'hobby5']
hobby_long = hobby_one.melt(id_vars=['user_id'], value_vars=hobby_cols, var_name='hobby_col', value_name='hobby')
hobby_long = hobby_long[hobby_long['hobby'].notna()]
hobby_long = hobby_long.drop(columns=['hobby_col'])
hobby_long[['hobby', 'prio']] = hobby_long['hobby'].str.split('%', n=1, expand=True)
hobby_long['prio'] = hobby_long['prio'].str.replace(r'[^\d-]', '', regex=True).astype(int)/100

hobby_long.head()

   user_id                               hobby  prio
0        0  Fremdsprachenkenntnisse erweitern   0.78
1        1                 Jemanden massieren   0.57
2        2          In der Stadt herumbummeln   0.94
3        3   An einer Gruppenreise teilnehmen   0.97
4        4                   Ins Grüne fahren   0.23

In [26]:
hobby_two = df_xml.copy()

#turn emails into IDs
hobby_two = hobby_two.merge(
    df_user[['id', 'email']],
    left_on='email',
    right_on='email',
    how='left'
)
hobby_two.rename(columns={'id': 'user_id'}, inplace=True)
hobby_two.drop(columns=['email'], inplace=True)

hobby_two = hobby_two.explode('hobbies').reset_index(drop=True)

hobby_two ['prio'] = 999 # no prio info in xml, setting to 999
hobby_two.rename(columns={'hobbies': 'hobby'}, inplace=True)

hobby_two.head()

       hobby  user_id  prio
0  Schreiben     1201   999
1      Musik     1201   999
2    Bowling     1201   999
3    Basteln      700   999
4      Nähen      700   999

In [27]:
# merge hobby_long and hobby_two
df_user_hobby = pd.concat([hobby_long, hobby_two], ignore_index=True)
df_user_hobby.head()

   user_id                               hobby  prio
0        0  Fremdsprachenkenntnisse erweitern   0.78
1        1                 Jemanden massieren   0.57
2        2          In der Stadt herumbummeln   0.94
3        3   An einer Gruppenreise teilnehmen   0.97
4        4                   Ins Grüne fahren   0.23

In [28]:
df_hobby = df_user_hobby.copy()
df_hobby.drop(columns=['user_id', 'prio'], inplace=True)
df_hobby = df_hobby.drop_duplicates().reset_index(drop=True)
df_hobby.rename(columns={'hobby': 'name'}, inplace=True)

df_hobby['id'] = np.arange(0, len(df_hobby))

df_hobby.head()

                                 name  id
0  Fremdsprachenkenntnisse erweitern    0
1                 Jemanden massieren    1
2          In der Stadt herumbummeln    2
3   An einer Gruppenreise teilnehmen    3
4                   Ins Grüne fahren    4

In [29]:
df_user_hobby = df_user_hobby.merge(
    df_hobby,
    left_on='hobby',
    right_on='name',
    how='left'
).rename(columns={'id': 'hobby_id'})
df_user_hobby.drop(columns=['name', 'hobby'], inplace=True)
df_user_hobby['id'] = np.arange(0, len(df_user_hobby))



df_user_hobby.head()

   user_id  prio  hobby_id  id
0        0  0.78         0   0
1        1  0.57         1   1
2        2  0.94         2   2
3        3  0.97         3   3
4        4  0.23         4   4

Now we have all tables we need, cleand and ready to be inserted into our PostgreSQL database. Only additional_recources and friendship are being created seperately because they don't have any data to be filled with.

In [30]:
message = df_message
profile_like = df_profile_like
user = df_user
user_hobby = df_user_hobby
hobby = df_hobby

In [31]:
engine = create_engine('postgresql+psycopg2://user:secret@localhost:5432/lf8_lets_meet_db')

# Insert DataFrames into PostgreSQL
user.to_sql('user', engine, if_exists='append', index=False)
profile_like.to_sql('profile_like', engine, if_exists='append', index=False)
message.to_sql('message', engine, if_exists='append', index=False)
hobby.to_sql('hobby', engine, if_exists='append', index=False)
user_hobby.to_sql('user_hobby', engine, if_exists='append', index=False)

128

In [32]:
print("Import completed successfully.")

Import completed successfully.